  
<!DOCTYPE html>
<html>
  <head>
        <%- include('./layout/head'); -%>
  </head>
  <body>
    <header>

    </header>
    <h2>Save a book:</h2>
    <form action="/add" method="post">
      <input type="text" name="title" placeholder="title">
      <input type="text" name="author" placeholder="author">
      <textarea name="description" placeholder="description"></textarea>
      <input type="text" name="image_url" placeholder="image_url">
      <input type="text" name="isbn" placeholder="isbn">
      <input type="text" name="bookshelf" placeholder="bookshelf">
      <button type="submit">Save book!</button>
    </form>
  </body>
</html>