<!DOCTYPE html>

<html>
    <head>
        <title>book app</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="icons.css">
        <link rel="stylesheet" href="layout.css">
        <link rel="stylesheet" href="modules.css">
    </head>

    <body>

            <h1>Book List</h1>
            <p><a href="/search">Search</a></p>
                <ul> 
                    <% results.forEach((item)=>{%> 
                    <li>title: <%=item.title%> </li>  
                    <li>author: <%=item.author%></li>
                    <li>description: <%=item._book_description%></li>
                    <%});%> 
                </ul> 
        

    </body>
</html>