<!DOCTYPE html>

<html>
    <head>
            <%- include('./layout/head'); -%>
    </head>

    <body>
        <h1>search for books!</h1>
        <form action="/searches" method="post">
        <input type="text" name="search" placeholder="search for a book or author">

        <fieldset>
            <label for="title">
                <span>title:</span>
                <input type="radio" name="search"value="title">
            </label>
        </fieldset>

        <fieldset>
            <label for="author">
                <span>author:</span>
                <input type="radio" name="search"value="author">
            </label>
        </fieldset>

        <button type="submit">search google books</button>

        </form>
        

    </body>
</html>