<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Book List</h1>
    <p><a href="/">Home</a></p>
        <ul> 
            <% data.forEach((item)=>{%> 
            <li>title: <%=item.title%> </li>  
            <li>author: <%=item.author%></li>
            <li>description: <%=item._book_description%></li>
            <button type="submit">save</button>
            <%});%> 
        </ul> 


  </body>
</html>